<template>
    <header class="">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">{{ $t('learn_project') }}</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/">{{ $t('home') }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/backend/EditLanguage">{{ $t('edit_language') }}</a>
                        </li>
                    </ul>
                    <!-- Example of a dropdown menu -->
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Choose a language
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a @click="changeGlobalLocale('en')" class="dropdown-item" href="#">English</a></li>
                                <li><a @click="changeGlobalLocale('zh')" class="dropdown-item" href="#">繁體中文</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
</template>

<style>
    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999
    }
</style>

<script>
    import { useI18n } from "vue-i18n";   

    export default {
        setup() {
            const t = useI18n();            

            const changeGlobalLocale = (locale) => {
                if (locale !== t.locale.value) {
                    t.locale.value = locale;

                    localStorage.setItem('language', locale);
                }
            };

            return {
                changeGlobalLocale,
            };
        },
    };
</script>