
<template>
    <!--共用的頁尾-->
    <footer class="text-center py-4 bg-gray-200">
        <p>&copy; 2023 By Matol</p>
    </footer>
</template>

<style>
    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 999;
    }
</style>