
<script setup>
    import DocumentationIcon from './icons/IconDocumentation.vue'
    import ToolingIcon from './icons/IconTooling.vue'
    import EcosystemIcon from './icons/IconEcosystem.vue'
    import CommunityIcon from './icons/IconCommunity.vue'
    import SupportIcon from './icons/IconSupport.vue'
</script>

<template>

        <!-- Left half with fixed width -->
        <div class="col-md-6 py-8 text-center">
            <img alt="logo" class="logo order-1 block mx-auto" src="/images/icons/doraemon.jpg" />
            <div class="order-2">
                <br />
                <h2 class="text-center text-xl font-bold">{{ $t('learn_project') }}</h2>
                <hr />
                <p class="text-center" v-for="index in 6" :key="index">
                    {{ $t('learn_des' + index) }}
                </p>
            </div>
        </div>

        <!-- Right half with fixed width -->
        <div class="col-md-6 py-5 flex-shrink-0">
            <div class="link-item pl-2">
                <div class="d-flex align-items-center mb-2">
                    <DocumentationIcon class="me-2" />
                    <h3 class="mr-2 text-lg font-medium">{{ $t('about_chart') }}</h3>
                </div>
                <p>
                    {{ $t('echartdes') }}
                </p>
            </div>
        </div>

</template>