<script setup>//import Link from './components/Link.vue'
    import Banner from './components/Banner.vue'
    //import Footer from './components/Footer.vue'</script>

<template>
    <Banner />
    <!--主要的內容區域，這裡使用一個 router-view 來渲染子組件-->
    <div class="container">
        <div class="row">
            <router-view></router-view>
        </div>
    </div>


    <!--<Footer />-->
</template>