<script setup>

</script>

<template>
    <h2>{{ $t('edit_language') }}</h2>
    <div class="container mt-5">
        <table class="table">
            <thead>
                <tr>
                    <th>Key</th>
                    <th>English</th>
                    <th>Chinese</th>
                    <th>Tool</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(langData, langKey) in jsonData.en" :key="langKey">
                    <td>{{ langKey }}</td>
                    <td contenteditable="true" @input="updateValue(langKey, 'en', $event)" :class="{ modified: isModified(langKey, 'en') }">
                        {{ jsonData.en[langKey] }}
                    </td>
                    <td contenteditable="true" @input="updateValue(langKey, 'zh', $event)" :class="{ modified: isModified(langKey, 'zh') }">
                        {{ jsonData.zh[langKey] }}
                    </td>
                    <td>
                        <button @click="saveJsonData(langKey)" class="btn btn-success">Save</button>
                        -
                        <button @click="deleteRow(langKey)" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <button @click="addNewRow" class="btn btn-primary">{{ $t('new')}}</button>
    </div>


</template>

<script>
    import axios from 'axios';
    import { ref } from 'vue';

    const langType = ['en', 'zh']   // 語文類別

    export default {
        data() {
            return {
                jsonData: {},
                modifiedKeys: [], // 用於儲存異動過的欄位
            };
        },
        mounted() {
            this.loadJsonData();
        },
        methods: {
            loadJsonData() { // 載入
                axios.get('/api/language')
                    .then(response => {
                        this.jsonData = response.data;
                    })
                    .catch(error => {
                        console.error('Error fetching data', error);
                    });
            },
            updateValue(langKey, lang, event) { // 文字更改
                // 修改異動的欄位底色
                this.jsonData[lang][langKey] = event.target.innerText;

                // 紀錄修改的按紐
                if (!this.modifiedKeys.includes(langKey + lang)) {
                    this.modifiedKeys.push(langKey + lang);
                }
            },
            getRefName(langKey) {
                return `rowRef_${langKey}`;
            },
            getDataByClick(langKey) { // 僅保留對應按鈕資料
                let resultArray = [];
                
                const filteredData = Object.fromEntries(
                    Object.entries(this.jsonData).map(([key, value]) => [key, { [langKey]: value[langKey] }])
                );

                for (const languageKey in filteredData) {
                    const languageObject = filteredData[languageKey];
                    for (const propertyKey in languageObject) {
                        if (languageObject.hasOwnProperty(propertyKey)) {
                            const propertyValue = languageObject[propertyKey];

                            // 將數據轉換為所需格式
                            const type = languageKey;
                            const key = propertyKey; 
                            const value = propertyValue;

                            // 將轉換後的數據添加到結果陣列
                            resultArray.push({ Type: type, Key: key, Value: value });
                        }
                    }
                }
                return resultArray;
            },
            saveJsonData(langKey) { // 儲存
                try {                    
                    // 將資料更新至json檔案
                    axios.put('/api/language', this.getDataByClick(langKey))
                        .then(response => {
                            if (response.status === 204 || response.status === 200) {
                                Swal.fire(`${this.$t('update')} ${this.$t('successful') }`);
                            } else {
                                Swal.fire({
                                    title: `${this.$t('update')} ${this.$t('fail')}`,
                                    text: response.status,
                                    icon: "error"
                                });
                            }
                        })
                        .catch(error => {
                            console.error('Error during PUT request:', error);
                        });;

                    // 移除異動底色
                    this.modifiedKeys = this.modifiedKeys.filter(key => {
                        return !langType.some(type => key.includes(langKey + type));
                    });
                } catch (error) {
                    console.error('Error saving JSON data:', error);
                }
            },
            isModified(langKey, lang) {
                // 根據是否存在key暫存以及語言對應返回true
                return this.modifiedKeys.includes(langKey + lang);
            },
            addNewRow() {
                Swal.fire({
                    title: "請輸入 Key 值",
                    input: "text",
                    inputAttributes: {
                        autocapitalize: "off"
                    },
                    showCancelButton: true,
                    confirmButtonText: "確認",
                    showLoaderOnConfirm: true,
                }).then((result) => {
                    if (result.isConfirmed && result.value !== '') {
                        const newKey = result.value; // Replace with your logic to generate a new key.

                        let newLangData = {};
                        langType.forEach((lang) => {
                            newLangData[lang] = '';
                            this.jsonData[lang][newKey] = '';
                            this.modifiedKeys.push(newKey + lang);
                        });
                    }
                });
            },
            deleteRow(langKey) { // 刪除
                Swal.fire({
                    //title: `確認刪除 ${langKey} 資料?`,
                    title: `${this.$t('confirm_delete_data')}?`.replace('{{langKey}}', langKey),
                    showCancelButton: true,
                    confirmButtonText: this.$t('confirm'),
                }).then((result) => {
                    if (result.isConfirmed) {
                        axios.delete(`/api/language/` + langKey, {
                            headers: {
                                'Content-Type': 'application/json',
                            },
                        }).then(response => {
                                if (response.status === 204 || response.status === 200) {
                                    Swal.fire(`${this.$t('delete')} ${this.$t('successful')}`);

                                    for (let lang in this.jsonData) {
                                        if (this.jsonData.hasOwnProperty(lang)) {
                                            delete this.jsonData.en[langKey];
                                            delete this.jsonData.zh[langKey];
                                        }
                                    }
                                } else {
                                    Swal.fire({
                                        title: `${this.$t('delete')} ${this.$t('fail')}`,
                                        text: response.status,
                                        icon: "error"
                                    });
                                }
                            })
                            .catch(error => {
                                console.error('Error during PUT request:', error);
                            });;
                    }
                });
                
            }
        },
    };
</script>

<style scoped>
    .modified {
        background-color: #ffeeba; /* 底色 */
    }
</style>